    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=pageTitle%></title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="stylesheet" href="<%- process.env.APPBASEURL %>/css/bootstrap.min.css">
    <link rel="stylesheet" href="<%- process.env.APPBASEURL %>/css/style.css">
    <link rel="stylesheet" href="<%- process.env.APPBASEURL %>//css/bootstrap4-toggle.min.css">