<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <img src="/images/logo.png" alt="logo" class="navbar-brand">
            <!-- <a class="navbar-brand" href="#">Let's Travel</a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contacts</a>
                    </li>
                    <%if(isLoggedIn){%>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Admin Page</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li> -->
                    <%}%>
                </ul>
                <ul class="navbar-nav ml-auto navbar-login">
                    <%if(isLoggedIn){%>
                    <li class="nav-item">
                    <form method="POST" action="/logout">
                        <button id="logout-button" data-se="logout" class="btn btn-outline-secondary ">
                        Logout
                        </button>
                    </form>
                    </li>
                    <%}else{%>
                    <li class="nav-item">
                        <form method="get" action="/signin/register">
                            <button class="btn btn-outline-secondary register-btn mr-2" type="submit">Register</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form method="get" action="/signin">
                            <button class="btn btn-outline-secondary log-in-btn" type="submit">Log In</button>
                        </form>
                    </li>
                    <%}%>
                </ul>
                <form class="form-inline my-2 my-lg-0 call-me-form">
                    <input class="form-control mr-sm-2" type="search" placeholder="Phone number" aria-label="Search">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Call Me</button>
                </form>
            </div>
        </div>    
    </nav>
    <%if(isLoggedIn && user!=null){%>
    <div class="container">
            <div class="alert alert-primary row welcome-text" role="alert">
                <div class="col-11">Welcome back <strong><%=user.given_name%> <%=user.family_name%></strong>!</div>
                <div class="col-1">
                <form method="get" action="/profile">
                    <button class="btn btn-outline-secondary profile-btn" type="submit">Profile</button>
                </form>
            </div>
        </div>
    </div>
    <%}%>
</header>