#app-container {
  padding: 10px;
  float: left;
  width: 0%;
}

#okta-sign-in.no-beacon .auth-header {
  padding-bottom: 30px;
  display: none !important;
}

#okta-sign-in .o-form-button-bar .button {
  display: block;
  width: 75px !important;
  height: 75px !important;
  border-radius: 50% !important;
}
#okta-sign-in .o-form .custom-checkbox label {
  font-size: 12px;
  display: none;
}

#okta-sign-in .o-form .input-fix, #okta-sign-in .o-form .textarea-fix {
  border-radius: 20px !important;
  width: 215px !important;
  box-sizing: border-box;
}

#okta-sign-in .social-auth-button.link-button {
  border-radius: 3px;
  box-sizing: border-box;
  color: #fff;
  display: block;
  font-size: 13px;
  line-height: 50px;
  margin-top: 15px;
  padding-left: 90px;
  text-align: left;
  display: none !important;
}

#okta-sign-in .auth-divider .auth-divider-text {
  background-color: #fff;
  position: relative;
  top: -.5em;
  padding: 0 15px;
  display: none !important;
}

#okta-sign-in .registration-container .content-container {
  padding: 30px 42px;
  -moz-transition: padding-top .4s;
  -webkit-transition: padding-top .4s;
  transition: padding-top .4s;
  border-top: 1px solid #ddd;
  margin-top: 5px;
  display: none !important;
}
.auth-footer{
  display: none;
}